.container-fluid {
  padding: 0; /* Elimina el padding para que el carrusel ocupe todo el ancho */
  border-radius: 10px; /* Bordes redondeados para un aspecto suave */
  box-shadow: 0px 0 20px 5px black; /* Sombra para destacar el carrusel */
  background-color: #909090;
  overflow: hidden; /* Asegúrate de que el contenido no se desborde */
}

.slick-slide {
  padding: 10px; /* Espacio entre las imágenes */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.slick-track {
  display: flex; /* Asegura que las imágenes se alineen */
  align-items: center; /* Centra las imágenes verticalmente */
}

.slick-slide img {
  max-height: 800px; /* Ajusta la altura máxima de las imágenes */
  width: 100%; /* Asegúrate de que las imágenes ocupen el espacio completo */
  border-radius: 20px; /* Bordes redondeados para las imágenes */
  box-shadow: 0px 0 20px 5px black; /* Sombra para las imágenes */
  object-fit: cover; /* Para mantener la proporción sin deformar */
}
